<div class="container">
  <h1 class="m-3">Stupid Coaching</h1>

  <%# Questions as quote %>
  <div class="quote border-start border-5 p-3 m-3 bg-light">
    <figure class="text-start">
    <blockquote class="blockquote">
      <p><%= @question %></p>
    </blockquote>
    <figcaption class="blockquote-footer">
      <cite title="Source Title">You</cite>
    </figcaption>
  </figure>
  </div>


  <%# Answer as quote %>
  <div class="quote border-start border-5 p-3 m-3 bg-warning bg-opacity-10">
    <figure class="text-start">
      <blockquote class="blockquote">
        <p><%= @answer %></p>
      </blockquote>
      <figcaption class="blockquote-footer">
        <cite title="Source Title">Your coach</cite>
      </figcaption>
    </figure>
  </div>



  <%= link_to "Ask a new question", home_path %>
</div>
